@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
  font-family: "Fira Mono", monospace;
}

nav {
  z-index: 5;
}

.home-wrapper {
  transition: 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  overflow-x: hidden;
  background: linear-gradient(rgb(26, 26, 26), rgb(231, 231, 231));
}

.m-wrap {
  transition: 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  overflow-x: hidden;
  background: linear-gradient(rgb(26, 26, 26), rgb(231, 231, 231));
}

/* pop-up */
.dev-tooltip {
  position: relative;
  color: rgba(194, 232, 18, 1);
  cursor: pointer;
}
span {
  color: rgba(194, 232, 18, 1);
}
.dev-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -3em;
  left: -9em;
  margin: 1em;
  padding: 1em;
  width: 16em;
  font-weight: bold;
  font-size: 0.8em;
  background: rgba(99, 102, 141, 0.973);
  color: rgba(194, 232, 18, 1);
  border-image: linear-gradient(
      to bottom left,
      rgba(48, 47, 57, 1),
      5%,
      rgba(213, 185, 66, 1),
      rgba(48, 47, 57, 1)
    )
    1 / 3px;
  box-shadow: 0 0 5px rgba(213, 185, 66, 1);
  scale: 0;
  opacity: 0;
}

.dev-tooltip:hover::after {
  scale: 1;
  top: -8em;
  left: 3em;
  opacity: 1;
  transition: opacity 1s ease, top 0.2s ease, scale 0.2s ease, left 0.2s ease;
}
button:focus {
  outline: none;
}

.btn-close {
  position: absolute;
  right: 20px;
  bottom: 50px;
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (min-width: 769px) {
  /* .bio {
    width: 70rem;
  } */
  .dev-tooltip:hover::after {
    top: -5em;
    left: 3em;
  }
}
@media (min-width: 1024px) {
  .home-wrapper {
    background: linear-gradient(to right, rgb(26, 26, 26), rgb(231, 231, 231));
  }
  .inner-wrapper {
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
