@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
html {
  scroll-behavior: smooth;
}

nav {
  font-family: "Fira Mono";
}

#cursor {
  display: none;
}

::selection {
  background: rgb(124, 120, 120);
  color: rgba(194, 232, 18, 1);
}

.pc-nav:hover {
  color: rgba(194, 232, 18, 1);
  text-shadow: 0 0 5px white;
  transition: text-shadow 0.1s ease-in-out;
}

span {
  color: rgba(194, 232, 18, 1);
}
a {
  cursor: none;
  z-index: 30;
}

/* pop-up */
.dev-tooltip {
  position: relative;
  color: rgba(194, 232, 18, 1);
}

.dev-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -3em;
  left: -9em;
  margin: 1em;
  padding: 1em;
  width: 16em;
  font-weight: bold;
  font-size: 0.8em;
  background: rgba(99, 102, 141, 0.973);
  color: rgba(194, 232, 18, 1);
  border-image: linear-gradient(
      to bottom left,
      rgba(48, 47, 57, 1),
      5%,
      rgba(213, 185, 66, 1),
      rgba(48, 47, 57, 1)
    )
    1 / 3px;
  box-shadow: 0 0 5px rgba(213, 185, 66, 1);
  scale: 0;
  opacity: 0;
}

.dev-tooltip:hover::after {
  scale: 1;
  top: -8em;
  left: 3em;
  opacity: 1;
  transition: opacity 1s ease, top 0.2s ease, scale 0.2s ease, left 0.2s ease;
}
/* end of tooltip */

button,
input,
textarea {
  cursor: none;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

.img-box {
  overflow: hidden;
}
.project-card:hover img {
  transition: transform 5s ease-in-out;
  transform: scale(1.1);
}

.btn-close {
  position: absolute;
  right: 40px;
  bottom: 10px;
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.wrapper {
  overflow-x: hidden;
  transition: 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.link-box a:hover {
  display: block;
  transform: translateX(8px);
  transition: all 0.2s ease-out;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

.link-box a:hover span.font-bold {
  display: inline-block;
  transform: translateX(20px);
  transition: transform 0.1s ease-in-out;
}

.fa-chevron-down {
  display: block;
  animation: float 0.7s ease-in infinite;
}

@keyframes float {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 0.5;
    transform: translateY(10px);
  }
}

@media (min-width: 769px) {
  .dev-tooltip:hover::after {
    top: -5em;
    left: 3em;
  }
}
* {
  box-shadow: 0 0 0 white;
}
@media (min-width: 1024px) {
  .opaque {
    background: rgba(35, 40, 49, 0.95);
  }
  html {
    cursor: none;
  }
  .contact {
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  #cursor {
    display: block;
    position: absolute;
    z-index: 150;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: radial-gradient(
      rgba(255, 255, 255, 0.8) 10%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: translate(-50%, -50%);
    transform-origin: 100%, 100%;
    pointer-events: none;
  }
  .link-mouseover {
    backdrop-filter: invert();
    background: radial-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 30%,
      rgba(255, 255, 255, 0) 70%
    ) !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
    transition: 0.2s ease-in-out;
    transition-property: width, height;
    background: transparent;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
