html {
  scroll-behavior: smooth;
}

nav {
  font-family: "Fira Mono", monospace;
}

a {
  font-family: "Fira Mono", monospace;
}

.inner-wrapper {
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.home-wrapper {
  background: linear-gradient(to right, rgb(26, 26, 26), rgb(231, 231, 231));
}

.m-wrap {
  background: linear-gradient(rgb(26, 26, 26), rgb(231, 231, 231));
}

/* pop-up */
.dev-tooltip {
  position: relative;
  color: rgba(194, 232, 18, 1);
  cursor: pointer;
}

.dev-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -3em;
  left: -9em;
  margin: 1em;
  padding: 1em;
  width: 16em;
  font-weight: bold;
  font-size: 0.8em;
  background: rgba(99, 102, 141, 0.973);
  color: rgba(194, 232, 18, 1);
  border-image: linear-gradient(
      to bottom left,
      rgba(48, 47, 57, 1),
      5%,
      rgba(213, 185, 66, 1),
      rgba(48, 47, 57, 1)
    )
    1 / 3px;
  box-shadow: 0 0 5px rgba(213, 185, 66, 1);
  scale: 0;
  opacity: 0;
}

.dev-tooltip:hover::after {
  scale: 1;
  top: 0em;
  left: 3em;
  opacity: 0.9;
  transition: opacity 1s ease, top 0.2s ease, scale 0.2s ease, left 0.2s ease;
}

.m-nav {
  transform: translateX(-100vw);
  opacity: 0;

  /* display: none; */
}

.m-nav.open {
  transition: all 0.7s;
  display: block;
  transform: translateX(0);
  opacity: 0.8;
}

@media (min-width: 769px) {
  .bio {
    width: 70rem;
  }
  .dev-tooltip:hover::after {
    top: -5em;
    left: 3em;
  }
}
